body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    align-items: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

h1, p {
   text-align: center;

 }

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
}


button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}




a:hover {
    text-decoration: underline;
}


.frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 280px;
    height: 210px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.4);
    text-align: center;
    overflow: hidden;
    animation: show-modal 0.7s ease-in-out;
    position: relative; 
}

.modal.hide {
    animation: hide-modal .6s ease-in-out both;
}

.title {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 14px 0 5px 0;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    margin: 0;
    padding: 0 30px;
}

.button {
    position: absolute;
    height: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #221e1e;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.button:hover {
    background: #756f6f;
}

.success-message {
    color: #28a745; 
    font-weight: bold;
}

.success-button {
    color: #28a745; 
}

@keyframes show-modal {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes hide-modal {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}
